<fieldset class="design">
  <div class="design__legend js-design">
    <i class="fa-regular fa-object-ungroup icon"></i>
    <p class="design__titledesign">Diseña</p>
    <i class="fa-solid fa-angle-up collapsible js-design__triangle"></i>
  </div>

  <!--palette blue-->

  <div class="js-design__wrapper">
    <label for="palette" class="palette">Colores</label>
    <div class="colors">
      <input id="palette" type="radio" name="palette" />
      <div class="blue1"></div>
      <div class="blue1__blue2"></div>
      <div class="blue1__blue3"></div>
    </div>
    <!--palette red-->
    <div class="colors">
      <input id="palette" type="radio" name="palette" />
      <div class="red1"></div>
      <div class="red1__red2"></div>
      <div class="red1__red3"></div>
    </div>
    <!--palette mix-->
    <div class="colors">
      <input id="palette" type="radio" name="palette" />
      <div class="mix1"></div>
      <div class="mix1__mix2"></div>
      <div class="mix1__mix3"></div>
    </div>
  </div>
</fieldset>
