<fieldset class="filled">
  <div class="filled__legend">
    <i class="fa-regular fa-keyboard icon"></i>
    <p class="filled__titlefilled">rellena</p>
    <i class="fa-solid fa-angle-up collapsible"></i>
  </div>
  <label class="firstname" for="name">Nombre completo</label>
  <input
    id="name"
    type="text"
    name="name"
    placeholder="Ej: Sally Jill"
    required
  />
  <label class="job" for="job">Puesto</label>
  <input
    id="position"
    type="text"
    name="job"
    placeholder="Ej: Front-end unicorn"
    required
  />
  <label class="image" for="image">imagen de perfil</label>
  <input
    id="image"
    type=""
    name="image"
    placeholder="Ej: Sally Jill"
    required
  />
  <label class="emailadress" for="email">Email</label>
  <input
    id="email"
    type="email"
    name="email"
    placeholder="Ej: sally-hill@gmail.com"
    required
  />
  <label class="phone" for="phone">Teléfono</label>
  <input
    id="phonenumber"
    type="tel"
    name="phone"
    placeholder="Ej: 555-555-55"
    required
  />
  <label class="linkedin" for="linkedin">Linkedin</label>
  <input
    id="link"
    type="text"
    name="linkedin"
    placeholder="Ej: linkedin.com/in/sally.hill "
    required
  />
  <label class="github" for="github">Github</label>
  <input
    id="git"
    type="text"
    name="name"
    placeholder="Ej: @sally-hill"
    required
  />
</fieldset>
