<fieldset class="filled">
  <div class="filled__legend js-fill_legend" title="pincha aqui">
    <i class="fa-regular fa-keyboard icon"></i>
    <p class="filled__title-filled">rellena</p>
    <i class="fa-solid fa-angle-up collapsible js-fill__triangle"></i>
  </div>
  <section class="filled-section hidden js-fill__wrapper">
    <label class="firstname filled-text" for="name">Nombre completo</label>
    <input
      class="box-text js-inputName js_resetName"
      id="name"
      type="text"
      name="name"
      placeholder="Ej: Sally Jill"
      required
    />
    <label class="job filled-text" for="job">Puesto</label>
    <input
      class="box-text js-input js_resetJob"
      id="job"
      type="text"
      name="job"
      placeholder="Ej: Front-end unicorn"
      required
    />
    <label class="image filled-text" for="image">Imagen de perfil</label>

    <div class="filled-button">
      <label for="image" class="input-orange box-text js__profile-trigger"
        >Añadir imagen</label
      >
      <input
        type="file"
        name
        id="image"
        class="hidden-input js_input js__profile-upload-btn"
      />

      <span class="box-image js__profile-preview"></span>
    </div>

    <label class="emailadress filled-text" for="email">Email</label>
    <input
      class="box-text js_input js_resetEmail"
      id="email"
      type="email"
      name="email"
      placeholder="Ej: sally-hill@gmail.com"
      required
    />
    <label class="phone filled-text" for="phone">Teléfono</label>
    <input
      class="box-text js_input js_resetPhone"
      id="phone"
      type="tel"
      name="phone"
      placeholder="Ej: 555-55-55-55"
      required
    />
    <label class="linkedin filled-text" for="linkedin">Linkedin</label>
    <input
      class="box-text js_input js_resetLinkedin"
      id="linkedin"
      type="text"
      name="linkedin"
      placeholder="Ej: linkedin.com/in/sally.hill "
      required
    />
    <label class="github filled-text" for="github">Github</label>
    <input
      class="box-tex js_input js_resetGithub"
      id="github"
      type="text"
      name="name"
      placeholder="Ej: @sally-hill"
      required
    />
  </section>
</fieldset>
