<form class="form" action="/signup" method="post">
  <!--DISEÑA-->
  <fieldset class="design">
    <div class="design__legend">
      <i class="fa-regular fa-object-ungroup icon"></i>
      <p class="design__titledesign">Diseña</p>
      <i class="fa-solid fa-angle-up collapsible"></i>
    </div>

    <!--palette blue-->

    <label for="palette" class="palette">Colores</label>
    <div class="colors">
      <input id="palette" type="radio" name="palette" />
      <div class="blue1"></div>
      <div class="blue1__blue2"></div>
      <div class="blue1__blue3"></div>
    </div>
    <!--palette red-->
    <div class="colors">
      <input id="palette" type="radio" name="palette" />
      <div class="red1"></div>
      <div class="red1__red2"></div>
      <div class="red1__red3"></div>
    </div>

    <!--palette mix-->
    <div class="colors">
      <input id="palette" type="radio" name="palette" />
      <div class="mix1"></div>
      <div class="mix1__mix2"></div>
      <div class="mix1__mix3"></div>
    </div>
  </fieldset>

  <!--RELLENA-->

  <fieldset class="filled">
    <div class="filled__legend">
      <i class="fa-regular fa-keyboard icon"></i>
      <p class="filled__title-filled">rellena</p>
      <i class="fa-solid fa-angle-up collapsible"></i>
    </div>
    <section class="filled-section">
      <label class="firstname filled-text" for="name">Nombre completo</label>
      <input
        class="box-text"
        id="name"
        type="text"
        name="name"
        placeholder="Ej: Sally Jill"
        required
      />
      <label class="job filled-text" for="job">Puesto</label>
      <input
        class="box-text"
        id="position"
        type="text"
        name="job"
        placeholder="Ej: Front-end unicorn"
        required
      />
      <label class="image filled-text" for="image">Imagen de perfil</label>

      <div class="button">
        <label for="image" class="input-orange box-text">Añadir imagen</label>

        <span class="box-image"></span>
      </div>

      <label class="emailadress filled-text" for="email">Email</label>
      <input
        class="box-text"
        id="email"
        type="email"
        name="email"
        placeholder="Ej: sally-hill@gmail.com"
        required
      />
      <label class="phone filled-text" for="phone">Teléfono</label>
      <input
        class="box-text"
        id="phonenumber"
        type="tel"
        name="phone"
        placeholder="Ej: 555-55-55-55"
        required
      />
      <label class="linkedin filled-text" for="linkedin">Linkedin</label>
      <input
        class="box-text"
        id="link"
        type="text"
        name="linkedin"
        placeholder="Ej: linkedin.com/in/sally.hill "
        required
      />
      <label class="github filled-text" for="github">Github</label>
      <input
        class="box-text"
        id="git"
        type="text"
        name="name"
        placeholder="Ej: @sally-hill"
        required
      />
    </section>
  </fieldset>

  <!--COMPARTE-->

  <fieldset class="share">
    <div class="share__legend">
      <i class="fa-solid fa-share-nodes icon"></i>
      <p class="share__titleshare">comparte</p>
      <i class="fa-solid fa-angle-up collapsible"></i>
    </div>

    <button class="bottom">
      <i class="fa-solid fa-address-card"></i>
      <p>Crear tarjeta</p>
    </button>

    <div class="twitter">
      <p>La tarjeta ha sido creada</p>
      <link
        rel="stylesheet"
        href="https://awesome-profile-card.com?id=A456DF0001"
      />
      <button>
        <i class="fa-brands fa-twitter"></i>
        <p>Compartir en twitter</p>
      </button>
    </div>
  </fieldset>
</form>
