<article class="preview">
  <button class="reset">
    <i class="fa-solid fa-trash-can reset__can"></i>Reset
  </button>

  <div class="card">
    <div class="card_rectangle"></div>
    <h2 class="card__name-surname">nombre apellido</h2>
    <h3 class="card__profession">profesión</h3>

    <div class="card__container-img">
      <img
        class="card__container-img__profile-image"
        src="./assets/images/profile.jpg"
        alt="User profile picture"
      />
    </div>
    <nav class="card__icons">
      <button class="card__icons__button-mobile">
        <i class="fa-solid fa-mobile-screen-button"></i>
      </button>
      <!-- <div class="card__icons__container-mobile">
        <a
          class="card__icons__container-mobile__mobile"
          href=""
          target="_blank"
        ></a
        ><i class="fa-solid fa-mobile-screen-button"></i>
      </div>-->
      <button class="card__icons__button-mail">
        <i class="fa-solid fa-envelope"></i>
      </button>

      <!-- <div class="card__icons__container-mail">
        <a class="card__icons__container-mail__mail" href="" target="_blank"></a
        ><i class="fa-solid fa-envelope"></i>
      </div>-->
      <div class="card__icons__container-linkedin">
        <a href="" target="_blank"></a
        ><i
          class="fa-brands fa-linkedin-in card__icons__container-linkedin__linkedin"
        ></i>
      </div>
      <div class="card__icons__container-git">
        <a href="" target="_blank"></a
        ><i
          class="fa-brands fa-github-alt card__icons__container-git__github"
        ></i>
      </div>
    </nav>
  </div>
</article>
