<article class="preview">
  <button class="reset" type="reset">
    <i class="fa-solid fa-trash-can reset__can"></i>Reset
  </button>

  <div class="card">
    <div class="card__rectangle js_card__rectangle"></div>

    <h2 class="card__names js_nameCard">nombre apellido</h2>

    <h3 class="card__profession js_card__profession">profesión</h3>

    <div class="card__container-img"></div>
    <nav class="card__icons">
      <!--<button class="card__icons__button-mobile js_button-mobile">
        <i class="fa-solid fa-mobile-screen-button"></i>
      </button>-->

      <div class="card__icons__container-mobile js_containerMobile">
        <a href="" target="_blank"
          ><i
            class="fa-solid fa-mobile-screen-button class card__icons__container-mobile__mobile js_iconMobile"
          ></i
        ></a>
      </div>

      <div class="card__icons__container-mail js_containerMail">
        <a href="mailto:hola@adalab.es" target="_blank"
          ><i
            class="fa-solid fa-envelope card__icons__container-mail__mail js_iconMail"
          ></i
        ></a>
      </div>
      <div class="card__icons__container-linkedin js_containerLinkedIn">
        <a
          href="https://www.linkedin.com/school/adalab/?originalSubdomain=es"
          target="_blank"
          ><i
            class="fa-brands fa-linkedin-in card__icons__container-linkedin__linkedin js_iconLinkedIn"
          ></i
        ></a>
      </div>
      <div class="card__icons__container-git js_containerGit">
        <a href="https://github.com/Adalab/" target="_blank"
          ><i
            class="fa-brands fa-github-alt card__icons__container-git__github js_iconGit"
          ></i
        ></a>
      </div>
    </nav>
  </div>
</article>
