<article class="preview">
  <button class="reset js-resetButton" type="reset" title="Reset">
    <i class="fa-solid fa-trash-can reset__can"></i>Reset
  </button>

  <div class="card js_cardContainer">
    <div class="card__rectangle js_cardRectangle"></div>

    <h2 class="card__names js_namesCard js_resetNamesCard">nombre apellido</h2>
    <h3 class="card__profession js_professionCard js_resetJobCard">
      profesión
    </h3>

    <div class="card__container-img js__profile-image"></div>
    <nav class="card__icons">
      <div class="card__icons__container-mobile js_containerMobile">
        <a
          class="js_iconMobile js_resetPhone"
          title="llamar por teléfono"
          href=""
          target="_blank"
          ><i
            class="fa-solid fa-mobile-screen-button class card__icons__container-mobile__mobile"
          ></i
        ></a>
      </div>

      <div class="card__icons__container-mail js_containerMail">
        <a
          class="js_iconMail js_resetMail"
          title="enviar email"
          href="mailto:hola@adalab.es"
          target="_blank"
          ><i class="fa-solid fa-envelope card__icons__container-mail__mail"></i
        ></a>
      </div>
      <div class="card__icons__container-linkedin js_containerLinkedIn">
        <a
          class="js_iconLinkedIn js_resetLinkedin"
          href="https://www.linkedin.com/school/adalab/?originalSubdomain=es"
          target="_blank"
          title="ir a perfil de Linkedin"
          ><i
            class="fa-brands fa-linkedin-in card__icons__container-linkedin__linkedin"
          ></i
        ></a>
      </div>
      <div class="card__icons__container-git js_containerGit">
        <a
          class="js_iconGit js_resetGithub"
          href="https://github.com/Adalab/"
          target="_blank"
          title="ir a perfil de Github"
          ><i
            class="fa-brands fa-github-alt card__icons__container-git__github"
          ></i
        ></a>
      </div>
    </nav>
  </div>
</article>
