<fieldset class="share">
  <div class="share__legend">
    <i class="fa-solid fa-share-nodes icon"></i>
    <p class="share__titleshare">comparte</p>
    <i class="fa-solid fa-angle-up collapsible"></i>
  </div>

  <button class="bottom">
    <i class="fa-solid fa-address-card"></i>
    <p>Crear tarjeta</p>
  </button>

  <div class="twitter">
    <p>La tarjeta ha sido creada</p>
    <link
      rel="stylesheet"
      href="https://awesome-profile-card.com?id=A456DF0001"
    />
    <button>
      <i class="fa-brands fa-twitter"></i>
      <p>Compartir en twitter</p>
    </button>
  </div>
</fieldset>
