<fieldset class="wrapper-share">
  <div class="share">
    <div class="share__container js-share">
      <i class="fa-solid fa-share-nodes share__container__icon"></i>
      <p class="share__container__title">comparte</p>
      <i
        class="fa-solid fa-angle-up share__container__angle js-share__triangle"
      ></i>
    </div>
    <div class="button-container hidden js-share__wrapper">
      <button class="button-container__create">
        <i class="fa-solid fa-address-card button-container__create__icon"></i>
        <p class="button-container__create__title">Crear tarjeta</p>
      </button>
    </div>
  </div>

  <div class="done disapear">
    <p class="done__title">La tarjeta ha sido creada:</p>
    <a class="done__link" href="">https://link tarjeta creada</a>

    <button class="done__button-twitter">
      <i class="fa-brands fa-twitter done__button-twitter__icon"></i>
      <p class="done__button-twitter__content">Compartir en twitter</p>
    </button>
  </div>
</fieldset>
