<fieldset class="wrapper-share">
  <div class="share">
    <div class="share__container js-share_legend" title="pincha aquí">
      <i class="fa-solid fa-share-nodes share__container__icon"></i>
      <p class="share__container__title">comparte</p>
      <i
        class="fa-solid fa-angle-up share__container__angle js-share__triangle"
      ></i>
    </div>
    <div class="button-container hidden js-share__wrapper">
      <button class="button-container__create js-buttonShare">
        <i class="fa-solid fa-address-card button-container__create__icon"></i>
        <p class="button-container__create__title">Crear tarjeta</p>
      </button>
    </div>
  </div>

  <div class="disapear js-shareLinkWrapper">
    <div class="done">
      <p class="done__title">La tarjeta ha sido creada:</p>
      <a class="done__link js-shareLink" href="">https://link tarjeta creada</a>
      <button class="done__button-twitter js-shareTwitter"></button>
    </div>
  </div>
</fieldset>
