.footer {
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .h2 {
    text-align: center;
    width: 100%;
    color: #d8d8d8;
    font-size: 14px;
    @include tablet {
      text-align: left;
      padding-left: 40px;
    }
  }
  .adalab {
    width: 105px;
    margin-top: 10px;
    @include tablet {
      margin-top: 0px;
      padding-right: 40px;
    }
  }

  //tablet-desktop

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 0 40px 0 41px; */
  }

  //desktop
  @include desktop {
    height: 60px;
  }
}
