.form {
  background-image: linear-gradient(to bottom, $contentlight, $contentwhite 9%);
}

.collapsible {
  font-size: 1.125rem;
  color: $brandlight;
}
.icon {
  font-size: 1.125rem;
  color: $brandlight;
}

//DISEÑA

.design {
  border-bottom: 1px solid $contentmedium;
  padding: 10px 0 20px;
  margin: 0 20px;

  &__legend {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 10px 22px;
  }

  &__titledesign {
    margin-right: 8.5em;
  }
}

.palette {
  margin-top: 22px;
  margin-left: 19px;
  font-size: 0.875rem;
}

.colors {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

/*PALETA DE COLORES*/

.blue1 {
  width: 30px;
  height: 25px;
  background: $branddark;

  &__blue2 {
    width: 30px;
    height: 25px;
    background: $dirty-blue;
  }

  &__blue3 {
    width: 30px;
    height: 25px;
    background: $hospital-green;
  }
}

.red1 {
  width: 30px;
  height: 25px;
  background: $dried-blood;

  &__red2 {
    width: 30px;
    height: 25px;
    background: $rusty-red;
  }
  &__red3 {
    width: 30px;
    height: 25px;
    background: $tomato;
  }
}

.mix1 {
  width: 30px;
  height: 25px;
  background: $slate;

  &__mix2 {
    width: 30px;
    height: 25px;
    background: $faded-orange;
  }
  &__mix3 {
    width: 30px;
    height: 25px;
    background: $light-grey-blue;
  }
}

//RELLENA

.filled {
  border-bottom: 1px solid $contentmedium;
  // display: flex;
  // flex-direction: column;

  &__legend {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px 25px 20px;
  }

  &__title-filled {
    margin-right: 8.5em;
  }
}

.filled-section {
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px;
}

.filled-text {
  font-size: 0.875rem;
  color: $branddark;
  margin-top: 10px;
}

.button {
  display: flex;

  gap: 20px;
}

.box-text {
  height: 30px;
  border: solid 1px $brandmedium;
  margin-top: 7px;
}
.input-orange {
  width: 140px;
  background-color: $brandlight;
  color: $contentwhite;
  text-align: center;
  border-radius: 3px;
  border: none;
  padding: 6px;
}
.box-image {
  width: 30px;
  height: 30px;
  border: solid 1px $brandmedium;
  margin-top: 7px;
}

//COMPARTE

.share {
  border-bottom: 1px solid $contentmedium;
  display: flex;
  flex-direction: column;

  &__legend {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px 25px 20px;
  }

  &__titleshare {
    margin-right: 8.5em;
  }
}

//botones

.twitter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
