.form {
  background-image: linear-gradient(to bottom, $contentlight, $contentwhite 9%);
}

.collapsible {
  font-size: 1.125rem;
  color: $brandlight;
}
.icon {
  font-size: 1.125rem;
  color: $brandlight;
}
