.header {
  width: 100%;
  margin: 0 256px 0 0;
  padding: 30px 527px 30px 40px;
  display: flex;
  /* cuando quiero cambiar la imagen solo se me fue la flechita del comentario ¿como arreglarlo??

  .img-awesome {
    width: 201px;
    object-fit: contain;
  }
*/
}
